// styling
$blu-dark: #023859;
$blu-light: #0388A6;
$text-light: #d2edfe;
$acc: #027353;
$pop-light: #F29B30;
$pop-dark: #D97B29;

// imports
@import 'quasar/src/css/index.sass';
@import "bootstrap/dist/css/bootstrap.css";



